/*Overarching colors and fonts for thw whole website*/
header {
    background-color: lightblue;
    display: flex;
    align-items: center;
}
body{
	background-color: cornsilk;
}
#wrapper{
	background-color: white;
}
.textContainer{
	background-color: lightblue;
	border-radius: .9em;
	padding: .5em;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

/*Cart icon*/
/*Hamburger menu*/
nav {
    position: relative;
    padding: 1.5rem 2rem;
    background-color: #222831;
    color: #fff;
}
.checkbtn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
#check {
    display: none;
}
#check:checked ~ .nav-mobile {
    display: block;
}
.nav-mobile {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #222831;
    z-index: 1;
    width: 200px;
}
.nav-mobile a {
    color: #fff;
    padding: 1rem 1.5rem;
    display: block;
}
hr {
  background-color: #393e46;
  padding: 1px;
  border: none;
}